<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/user/addbeneficiary}"  th:method="post" class="inscription">

<!--
    <input type="hidden" name="_method" value="put" />
-->




   <!-- <label for="name">user name:</label>
    <input type="text" id="name"  name="username" th:placeholder="${user.username}" /><br><br>-->
    <!--    <input type="text" id="name" name="username" th:field="*{username}"><br><br>-->
    <label for="mail">mail:</label>
    <input type="text" id="mail"  name="email"  /><br><br>
    <!--    <input type="text" id="mail" name="email" th:field="*{email}"><br><br>-->
    <!--<label for="pass">password:</label>
    <input type="text" id="pass"  name="password" th:placeholder="${user.password}" /><br><br>-->
    <!--    <input type="text" id="pass" name="password" th:field="*{password}"><br><br>-->
    <input type="submit" value="Submit">
</form>


</body>
</html>