<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="transaction:${transaction}">

        <td th:text="${transaction.receiver}"></td>
        <td th:text="${transaction.description}"></td>
        <td th:text="${transaction.amount}"></td>

    </tr>
    </tbody>
</table>
</body>
</html>